In [207]:
import pandas as pd
import numpy as np

In [211]:
df=pd.read_csv('sample.csv',parse_dates=[1])

In [212]:
df.sort_values(by=['Sensor_id','Timestamp'])

    Sensor_id           Timestamp  Quantity
0           1 2018-05-20 10:48:00       100
1           1 2018-05-20 11:09:00        80
2           1 2018-05-20 11:31:00        20
3           1 2018-05-20 11:52:00        20
4           1 2018-05-20 12:14:00       100
5           1 2018-05-20 12:36:00       100
6           1 2018-05-26 19:20:00       100
7           1 2018-05-26 19:41:00        50
8           1 2018-05-26 20:03:00        20
9           1 2018-05-26 20:24:00        20
10          1 2018-05-26 20:46:00        20
11          1 2018-05-26 21:08:00        20
12          1 2018-05-26 21:29:00       100
13          1 2018-05-26 21:51:00        20
14          1 2018-05-26 22:12:00       100
15          2 2018-05-20 10:48:00        30
16          2 2018-05-20 11:09:00        20
17          2 2018-05-20 11:31:00       100
18          2 2018-05-20 11:52:00        80
19          2 2018-05-20 12:14:00        40
20          3 2018-05-26 22:34:00        80
21          3 2018-05-26 22:56:00        20
22          3 2018-05-26 23:17:00       100
23          3 2018-05-26 23:39:00        20
24          3 2018-05-27 00:00:00       100

In [222]:
sensors=list(df['Sensor_id'].unique())
sensors
full_at=100
empty_at=20

In [215]:
for sensor in sensors:
    working=pd.DataFrame(columns=['Sensor_id', 'Timestamp', 'Quantity'])
    working=working.append(df[df['Sensor_id']==sensor],ignore_index=True)
    print(working)

   Sensor_id           Timestamp Quantity
0          1 2018-05-20 10:48:00      100
1          1 2018-05-20 11:09:00       80
2          1 2018-05-20 11:31:00       20
3          1 2018-05-20 11:52:00       20
4          1 2018-05-20 12:14:00      100
5          1 2018-05-20 12:36:00      100
6          1 2018-05-26 19:20:00      100
7          1 2018-05-26 19:41:00       50
8          1 2018-05-26 20:03:00       20
9          1 2018-05-26 20:24:00       20
10         1 2018-05-26 20:46:00       20
11         1 2018-05-26 21:08:00       20
12         1 2018-05-26 21:29:00      100
13         1 2018-05-26 21:51:00       20
14         1 2018-05-26 22:12:00      100
  Sensor_id           Timestamp Quantity
0         2 2018-05-20 10:48:00       30
1         2 2018-05-20 11:09:00       20
2         2 2018-05-20 11:31:00      100
3         2 2018-05-20 11:52:00       80
4         2 2018-05-20 12:14:00       40
  Sensor_id           Timestamp Quantity
0         3 2018-05-26 22:34:00       80
1         3 2018-05-26 22:56:00       20
2         3 2018-05-26 23:17:00      100
3         3 2018-05-26 23:39:00       20
4         3 2018-05-27 00:00:00      100

In [223]:

picked=pd.DataFrame()
for sensor in sensors:
    working=pd.DataFrame(columns=['Sensor_id', 'Timestamp', 'Quantity'])
    working=working.append(df[df['Sensor_id']==sensor],ignore_index=True)
    
    for i in working.index:
        if ((working.loc[i,'Quantity']<=empty_at) & 
            (working.loc[max(i-1,0),'Quantity']>empty_at)) | ((working.loc[i,'Quantity']==full_at) & 
                                                        (working.loc[max(i-1,0),'Quantity']<full_at)):
            picked=picked.append(working.loc[i,:],ignore_index=True)

picked=picked.sort_values(by=['Sensor_id','Timestamp'])
picked

    Quantity  Sensor_id           Timestamp
0       20.0        1.0 2018-05-20 11:31:00
1      100.0        1.0 2018-05-20 12:14:00
2       20.0        1.0 2018-05-26 20:03:00
3      100.0        1.0 2018-05-26 21:29:00
4       20.0        1.0 2018-05-26 21:51:00
5      100.0        1.0 2018-05-26 22:12:00
6       20.0        2.0 2018-05-20 11:09:00
7      100.0        2.0 2018-05-20 11:31:00
8       20.0        3.0 2018-05-26 22:56:00
9      100.0        3.0 2018-05-26 23:17:00
10      20.0        3.0 2018-05-26 23:39:00
11     100.0        3.0 2018-05-27 00:00:00

In [224]:
response_time_df=pd.DataFrame()
for sensor in sensors:
    working2=pd.DataFrame(columns=[ 'Quantity','Sensor_id', 'Timestamp','Response_time'])
    working2=working2.append(picked[picked['Sensor_id']==sensor],ignore_index=True)
    for j in working2.index:
        if working2.loc[j,'Quantity']==full_at:
            working2.loc[j,'Response_time']=working2.loc[j,'Timestamp']-working2.loc[max(0,j-1),'Timestamp']
            response_time_df=response_time_df.append(working2.loc[j,:],ignore_index=True)
        else:
            working2.loc[j,'Response_time']=np.nan
            response_time_df=response_time_df.append(working2.loc[j,:],ignore_index=True)

response_time_df

    Quantity Response_time  Sensor_id           Timestamp
0       20.0           NaT        1.0 2018-05-20 11:31:00
1      100.0      00:43:00        1.0 2018-05-20 12:14:00
2       20.0           NaT        1.0 2018-05-26 20:03:00
3      100.0      01:26:00        1.0 2018-05-26 21:29:00
4       20.0           NaT        1.0 2018-05-26 21:51:00
5      100.0      00:21:00        1.0 2018-05-26 22:12:00
6       20.0           NaT        2.0 2018-05-20 11:09:00
7      100.0      00:22:00        2.0 2018-05-20 11:31:00
8       20.0           NaT        3.0 2018-05-26 22:56:00
9      100.0      00:21:00        3.0 2018-05-26 23:17:00
10      20.0           NaT        3.0 2018-05-26 23:39:00
11     100.0      00:21:00        3.0 2018-05-27 00:00:00

In [225]:
response_time_df.dropna(inplace=True)

In [226]:
response_time_df

    Quantity Response_time  Sensor_id           Timestamp
1      100.0      00:43:00        1.0 2018-05-20 12:14:00
3      100.0      01:26:00        1.0 2018-05-26 21:29:00
5      100.0      00:21:00        1.0 2018-05-26 22:12:00
7      100.0      00:22:00        2.0 2018-05-20 11:31:00
9      100.0      00:21:00        3.0 2018-05-26 23:17:00
11     100.0      00:21:00        3.0 2018-05-27 00:00:00

Timedelta('0 days 00:35:40')